body{
    margin: 0;
}

#main{
    display: grid;
    grid-template-areas: 'header header header header'
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
grid-template-rows: 200px 50px 700px 100px;
grid-template-columns: 25vw 25vw 25vw 25vw;
}
header{
    grid-area: header;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header img{
    width: 20%;
    align-self: flex-start;
}
nav{
    grid-area: nav;
    background-color: lime;
}
section{
    grid-area: section;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section img{
    width: 400px;
    height: auto;
}
aside{
    grid-area: aside;
    background-color: darksalmon;
}
footer{
    grid-area: footer;
    background-color: grey;
}